
name: CI

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run
        run: |
          echo "IP: 52.172.103.71"
          echo "Port: 17869"
          echo "Duration: 120"
          echo "Method: HTTP FLOOD"
