
name: CI

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run
        run: |
          echo "IP: 20.198.111.131"
          echo "Port: 19960"
          echo "Duration: 60"
          echo "Method: BGMI FLOOD"
